# Gathering information for football statistics in different leagues

# 1. Read a .csv file from url with Pandas

### Destination website: https://www.football-data.co.uk/englandm.php

In [37]:
import pandas as pd

In [38]:
# Reading the data from a single csv file at the website - just Season 2022/2023 Premier League:
df_premier_league_season_2022_2023 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2223/E0.csv')
df_premier_league_season_2022_2023

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,E0,15/04/2023,15:00,Wolves,Brentford,2,0,H,1,0,...,1.66,0.00,2.00,1.90,2.02,1.91,2.04,1.95,1.97,1.89
302,E0,15/04/2023,17:30,Man City,Leicester,3,1,H,3,0,...,3.19,-2.25,1.92,1.98,1.94,1.96,1.95,2.08,1.86,2.00
303,E0,16/04/2023,14:00,West Ham,Arsenal,2,2,D,1,2,...,2.12,1.00,1.89,2.04,1.88,2.05,1.97,2.11,1.85,2.03
304,E0,16/04/2023,16:30,Nott'm Forest,Man United,0,2,A,0,1,...,2.12,0.75,2.02,1.91,2.02,1.91,2.09,1.92,1.99,1.88
305,E0,17/04/2023,20:00,Leeds,Liverpool,1,6,A,0,2,...,2.61,0.75,2.01,1.89,2.01,1.92,2.12,1.94,2.00,1.86

In [39]:
# Rename some column names for better readability('FTHG' and 'FTAG'), FT stands for final time:
df_premier_league_season_2022_2023.rename(columns={'FTHG': 'Home Goals',
                                                   'FTAG': 'Away Goals',
                                                   }, inplace=True)
df_premier_league_season_2022_2023.tail()

,Div,Date,Time,HomeTeam,AwayTeam,Home Goals,Away Goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
301,E0,15/04/2023,15:00,Wolves,Brentford,2,0,H,1,0,...,1.66,0.00,2.00,1.90,2.02,1.91,2.04,1.95,1.97,1.89
302,E0,15/04/2023,17:30,Man City,Leicester,3,1,H,3,0,...,3.19,-2.25,1.92,1.98,1.94,1.96,1.95,2.08,1.86,2.00
303,E0,16/04/2023,14:00,West Ham,Arsenal,2,2,D,1,2,...,2.12,1.00,1.89,2.04,1.88,2.05,1.97,2.11,1.85,2.03
304,E0,16/04/2023,16:30,Nott'm Forest,Man United,0,2,A,0,1,...,2.12,0.75,2.02,1.91,2.02,1.91,2.09,1.92,1.99,1.88
305,E0,17/04/2023,20:00,Leeds,Liverpool,1,6,A,0,2,...,2.61,0.75,2.01,1.89,2.01,1.92,2.12,1.94,2.00,1.86

# 2. Read a .csv file from multiple URLs
## url = root + season + league

In [40]:
# Structure of the link in the following case:
# root: https://www.football-data.co.uk/mmz4281/
# season: '2223'
# league: '/E0'
'https://www.football-data.co.uk/mmz4281/' + '2223' + '/E0' + '.csv'

'https://www.football-data.co.uk/mmz4281/2223/E0.csv'

## 2.1 Multiple leagues just one season:
#### https://www.football-data.co.uk/mmz4281/2223/E0.csv
#### https://www.football-data.co.uk/mmz4281/2223/E1.csv
#### https://www.football-data.co.uk/mmz4281/2223/E2.csv
#### https://www.football-data.co.uk/mmz4281/2223/E3.csv
#### https://www.football-data.co.uk/mmz4281/2223/EC.csv

In [41]:
# Root:
root = 'https://www.football-data.co.uk/mmz4281/'

In [42]:
# Season - current 2022/2023
season = '2223'

In [43]:
# All leagues as a list of strings
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']

# Iterate through all leagues:
frames = []

for every_league in leagues:
    df = pd.read_csv(root + season + '/' + every_league + '.csv')
    frames.append(df)

In [44]:
# Display just one league:
frames[0]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,E0,15/04/2023,15:00,Wolves,Brentford,2,0,H,1,0,...,1.66,0.00,2.00,1.90,2.02,1.91,2.04,1.95,1.97,1.89
302,E0,15/04/2023,17:30,Man City,Leicester,3,1,H,3,0,...,3.19,-2.25,1.92,1.98,1.94,1.96,1.95,2.08,1.86,2.00
303,E0,16/04/2023,14:00,West Ham,Arsenal,2,2,D,1,2,...,2.12,1.00,1.89,2.04,1.88,2.05,1.97,2.11,1.85,2.03
304,E0,16/04/2023,16:30,Nott'm Forest,Man United,0,2,A,0,1,...,2.12,0.75,2.02,1.91,2.02,1.91,2.09,1.92,1.99,1.88
305,E0,17/04/2023,20:00,Leeds,Liverpool,1,6,A,0,2,...,2.61,0.75,2.01,1.89,2.01,1.92,2.12,1.94,2.00,1.86

## 2.2 Multiple leagues with multiple season:

In [45]:
# Let me choose from season 19/20 to season 22/23 ( 4 seasons )
# Season 19/18 as str is '1918' -  str(every_season) + str(every_season + 1)

leagues = ['E0', 'E1', 'E2', 'E3', 'EC']

# Iterate through every league for all seasons:
frames = []

for every_league in leagues:
    for every_season in range(19, 23):
        df = pd.read_csv(root + str(every_season) + str(every_season + 1) + '/' + every_league + '.csv',
                         encoding='unicode_escape')
        # insert a new column with the season year:
        df.insert(1, 'Season year', str(every_season) + '/' + str(every_season + 1))
        frames.append(df)

In [46]:
# 4 seasons with 5 leagues  = 20 frames
len(frames)

20

In [47]:
# Getting information, but it is hard remember which index corresponds to which league
frames[8].tail()

,Div,Season year,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
395,E2,19/20,07/03/2020,15:00,Sunderland,Gillingham,2,2,D,0,...,1.60,-0.50,1.83,2.02,1.79,2.11,1.87,2.11,1.79,2.04
396,E2,19/20,10/03/2020,19:45,Blackpool,Tranmere,1,2,A,0,...,1.75,-0.75,1.98,1.88,2.00,1.90,2.04,2.06,1.93,1.89
397,E2,19/20,10/03/2020,19:45,Bristol Rvs,Sunderland,2,0,H,1,...,1.68,0.75,1.88,1.98,1.91,1.99,1.95,2.00,1.88,1.94
398,E2,19/20,10/03/2020,19:45,Burton,Bolton,2,2,D,1,...,2.08,-1.00,2.02,1.83,2.04,1.86,2.07,1.98,1.98,1.84
399,E2,19/20,10/03/2020,19:45,Portsmouth,Fleetwood Town,2,2,D,1,...,1.62,-0.25,1.75,2.05,1.77,2.15,1.83,2.16,1.76,2.09

# 3. Organize the data in a dictionary

In [48]:
# Creating a dictionary with some names of the leagues
league_names = {
    'Spanish La League': 'SP1',
    'Spanish Segunda Division': 'SP2',
    'German Bundesliga': 'D1',
    'English Premier League': 'E0',
    'English League 1': 'E1',
    # etc...
}

In [49]:
# Iterate through every league for all seasons:
historical_data = {}

for league_name, league_code in league_names.items():
    frames = []
    for every_season in range(19, 23):
        df = pd.read_csv(root + str(every_season) + str(every_season + 1) + '/' + league_code + '.csv',
                         encoding='unicode_escape')
        # insert a new column with the season year:
        df.insert(1, 'Season year', str(every_season) + '/' + str(every_season + 1))
        frames.append(df)
    # concatenate all seasons for current league in 1 data frame
    all_season_for_one_league = pd.concat(frames)
    # attach the data to a dict with key = real league names and value = all seasons data frame
    historical_data[league_name] = all_season_for_one_league

In [50]:
# Easier to get information using real names instead of index
historical_data['Spanish La League']

,Div,Season year,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,19/20,16/08/2019,20:00,Ath Bilbao,Barcelona,1,0,H,0,...,1.97,0.75,1.93,2.00,1.91,2.01,2.02,2.03,1.91,1.98
1,SP1,19/20,17/08/2019,16:00,Celta,Real Madrid,1,3,A,0,...,2.63,1.00,1.82,1.97,1.85,2.07,2.00,2.20,1.82,2.06
2,SP1,19/20,17/08/2019,18:00,Valencia,Sociedad,1,1,D,0,...,1.82,-0.75,1.94,1.99,1.92,2.00,1.96,2.12,1.89,2.00
3,SP1,19/20,17/08/2019,19:00,Mallorca,Eibar,2,1,H,1,...,1.66,0.00,2.11,1.82,2.09,1.83,2.12,1.88,2.07,1.83
4,SP1,19/20,17/08/2019,20:00,Leganes,Osasuna,0,1,A,0,...,1.46,-0.50,1.89,2.04,1.90,2.01,1.95,2.06,1.90,1.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,SP1,22/23,16/04/2023,13:00,Girona,Elche,2,0,H,1,...,2.25,-1.25,1.98,1.95,1.99,1.93,2.03,1.97,1.94,1.90
286,SP1,22/23,16/04/2023,15:15,Getafe,Barcelona,0,0,D,0,...,1.62,0.75,1.88,2.05,1.88,2.06,2.01,2.11,1.89,1.97
287,SP1,22/23,16/04/2023,17:30,Ath Madrid,Almeria,2,1,H,2,...,2.76,-2.00,2.09,1.84,2.11,1.90,2.13,1.90,2.01,1.85
288,SP1,22/23,16/04/2023,20:00,Valencia,Sevilla,0,2,A,0,...,1.67,-0.25,1.87,2.06,1.88,2.04,1.90,2.20,1.81,2.06
289,SP1,22/23,17/04/2023,20:00,Celta,Mallorca,0,1,A,0,...,1.48,-0.75,2.06,1.84,2.10,1.84,2.13,1.88,2.05,1.81

In [51]:
historical_data['German Bundesliga']

,Div,Season year,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,D1,19/20,16/08/2019,19:30,Bayern Munich,Hertha,2,2,D,1,...,3.40,-2.25,2.03,1.90,1.99,1.93,2.04,1.93,1.98,1.91
1,D1,19/20,17/08/2019,14:30,Dortmund,Augsburg,5,1,H,1,...,3.31,-2.25,1.92,2.01,1.92,2.00,1.98,2.04,1.91,1.97
2,D1,19/20,17/08/2019,14:30,Freiburg,Mainz,3,0,H,0,...,1.89,0.00,1.92,2.01,1.94,1.97,1.97,2.06,1.90,1.99
3,D1,19/20,17/08/2019,14:30,Leverkusen,Paderborn,3,2,H,2,...,3.58,-2.00,2.07,1.86,2.05,1.86,2.15,1.91,2.03,1.85
4,D1,19/20,17/08/2019,14:30,Werder Bremen,Fortuna Dusseldorf,1,3,A,0,...,2.26,-0.75,1.92,2.01,1.92,2.00,1.95,2.11,1.89,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,D1,22/23,15/04/2023,14:30,Stuttgart,Dortmund,3,3,D,0,...,2.31,0.25,1.80,2.10,1.84,2.10,1.89,2.16,1.81,2.03
248,D1,22/23,15/04/2023,17:30,Ein Frankfurt,M'gladbach,1,1,D,0,...,2.28,-0.50,1.94,1.96,1.95,1.97,1.98,2.07,1.90,1.94
249,D1,22/23,16/04/2023,14:30,Werder Bremen,Freiburg,1,2,A,0,...,1.72,0.00,1.96,1.97,2.00,1.93,2.03,2.00,1.95,1.91
250,D1,22/23,16/04/2023,16:30,Union Berlin,Bochum,1,1,D,1,...,1.72,-0.75,2.03,1.90,2.03,1.90,2.03,2.02,1.92,1.92
251,D1,22/23,16/04/2023,18:30,Wolfsburg,Leverkusen,0,0,D,0,...,2.15,0.00,2.06,1.87,2.09,1.85,2.12,1.92,2.02,1.85